{%- liquid
  assign ratio = auto
  if media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif card_product.featured_media and media_aspect_ratio == 'adapt'
    assign ratio = card_product.featured_media.aspect_ratio
  elsif media_aspect_ratio == 'square'
    assign ratio = '1/1'
  endif

  if ratio == 0 or ratio == null
    assign ratio = auto
  endif

  if lazy_load
    assign loading = 'lazy'
  else
    assign loading = 'eager'
  endif
-%}

{%- assign title_tag = title_tag | default: 'h3' -%}

{% if media_aspect_ratio %}
  <style>
    [data-uri="{{ uri }}"] .card__img, [data-uri="{{ uri }}"] .card__video{
        --aspect-ratio: {{ ratio }};
    }
  </style>
{% endif %}

{% assign placeholder_title = 'sections.card.placeholder_title' | t %}

<color-swatch>
  <div class="card__container">
    <div class="card__picture-container">
      <a
        href="{{ url | default: '#' }}"
        class="card{% if text_alignment %} card--{{ text_alignment }}{% endif %}"
        tabindex="0"
        aria-label="{{ 'aria-label.card-url' | t }}"
      >
        <picture class="card__picture" data-uri="{{uri}}">
          <div class="card__loader hidden"></div>
          {% if img == 'hide' %}
          {% elsif img and focal %}
            {% assign card_classes = 'card__img' %}
            {% assign card_alt = img.alt | escape %}

            {{
              img
              | image_url: width: 1000
              | image_tag:
                loading: loading,
                sizes: '(min-width: 1000px) 620px, 100vw',
                width: null,
                widths: '375, 750, 1000, 1440',
                alt: card_alt,
                class: card_classes
            }}
          {% elsif img %}
            {% assign is_video_exist = false %}

            {% if show_video %}
              {% for media in product.media %}
                {% if media.media_type == 'video' %}
                  {{ media | video_tag: image_size: '400x', autoplay: true, loop: true, class: 'card__video' }}
                  {% assign is_video_exist = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
            {% endif %}

            {% if is_video_exist == false %}
              <img
                class="card__img"
                srcset="
                  {% if img.width >= 375 %}{{ img | image_url: width: 375 }} 375w, {% endif %}
                  {% if img.width >= 750 %}{{ img | image_url: width: 750 }} 750w, {% endif %}
                  {% if img.width >= 1000 %}{{ img | image_url: width: 1000 }} 1000w, {% endif %}
                  {% if img.width >= 1440 %}{{ img | image_url: width: 1440 }} 1440w, {% endif %}
                  {{ img | image_url: width: 1000 }} 1000w
                "
                sizes="(min-width: 1000px) 620px, 100vw"
                src="{{ img | image_url: width: 1000 }}"
                alt="{{ alt }}"
                loading="{{ loading }}"
                width="{{ img.width }}"
                height="{{ img.height }}"
              >
            {% else %}
              <img
                class="card__img hidden"
                srcset="
                  {% if img.width >= 375 %}{{ img | image_url: width: 375 }} 375w, {% endif %}
                  {% if img.width >= 750 %}{{ img | image_url: width: 750 }} 750w, {% endif %}
                  {% if img.width >= 1000 %}{{ img | image_url: width: 1000 }} 1000w, {% endif %}
                  {% if img.width >= 1440 %}{{ img | image_url: width: 1440 }} 1440w, {% endif %}
                  {{ img | image_url: width: 1000 }} 1000w
                "
                sizes="(min-width: 1000px) 620px, 100vw"
                src="{{ img | image_url: width: 1000 }}"
                alt="{{ alt }}"
                loading="{{ loading }}"
                width="{{ img.width }}"
                height="{{ img.height }}"
              >
            {% endif %}

            {% if img_hover %}
              <img
                class="card__img card__img--hover"
                srcset="
                  {% if img_hover.width >= 375 %}{{ img_hover | image_url: width: 375 }} 375w, {% endif %}
                  {% if img_hover.width >= 750 %}{{ img_hover | image_url: width: 750 }} 750w, {% endif %}
                  {% if img_hover.width >= 1000 %}{{ img_hover | image_url: width: 1000 }} 1000w, {% endif %}
                  {% if img_hover.width >= 1440 %}{{ img_hover | image_url: width: 1440 }} 1440w, {% endif %}
                  {{ img_hover | image_url: width: 1000 }} 1000w
                "
                sizes="(min-width: 1000px) 620px, 100vw"
                src="{{ img_hover | image_url: width: 1000 }}"
                alt="{{ alt }}"
                loading="{{ loading }}"
                width="{{ img_hover.width }}"
                height="{{ img_hover.height }}"
              >
            {% endif %}
          {% else %}
            {% unless url %}
              {% if placeholder_image_index %}
                {{
                  'product-apparel-'
                  | append: placeholder_image_index
                  | placeholder_svg_tag: 'card__img card__img--placeholder'
                }}
              {% else %}
                {{
                  'collection-apparel-1'
                  | append: placeholder_image_index
                  | placeholder_svg_tag: 'card__img card__img--placeholder'
                }}
              {% endif %}
            {% else %}
              <div class="card__img card__img--empty"></div>
            {% endunless %}
          {% endif %}
          {% if promo %}
            <div class="card__promo">{{ promo }}</div>
          {% endif %}
          {% if save %}
            <a href="#">[]</a>
          {% endif %}
          <div class="card__badges">
            {% assign custom-badge-1-input = settings['custom-badge-1-input'] | downcase %}
            {% assign custom-badge-2-input = settings['custom-badge-2-input'] | downcase %}
            {% assign custom-badge-3-input = settings['custom-badge-3-input'] | downcase %}
            {% assign custom-badge-4-input = settings['custom-badge-4-input'] | downcase %}

            {% if product.available == false %}
              <div class="card__badges--item" data-custom-badge="sold-out">
                {% if settings['badges-uppercase'] == 'uppercase' %}
                  {{ 'products.product.sold_out' | t | upcase }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </div>
            {% endif %}

            {% for tag in product.tags %}
              {% assign downcase_tag = tag | downcase %}
              {% if downcase_tag == custom-badge-1-input %}
                <div class="card__badges--item" data-custom-badge="{{ settings.custom-badge-1-input }}">
                  {% if settings['badges-uppercase'] == 'uppercase' %}
                    {{ settings['custom-badge-1-input'] | upcase }}
                  {% else %}
                    {{ settings['custom-badge-1-input'] }}
                  {% endif %}
                </div>
              {% endif %}
              {% if downcase_tag == custom-badge-2-input %}
                <div class="card__badges--item" data-custom-badge="{{ settings.custom-badge-2-input }}">
                  {% if settings['badges-uppercase'] == 'uppercase' %}
                    {{ settings['custom-badge-2-input'] | upcase }}
                  {% else %}
                    {{ settings['custom-badge-2-input'] }}
                  {% endif %}
                </div>
              {% endif %}
              {% if downcase_tag == custom-badge-3-input %}
                <div class="card__badges--item" data-custom-badge="{{ settings.custom-badge-3-input }}">
                  {% if settings['badges-uppercase'] == 'uppercase' %}
                    {{ settings['custom-badge-3-input'] | upcase }}
                  {% else %}
                    {{ settings['custom-badge-3-input'] }}
                  {% endif %}
                </div>
              {% endif %}
              {% if downcase_tag == custom-badge-4-input %}
                <div class="card__badges--item" data-custom-badge="{{ settings.custom-badge-4-input }}">
                  {% if settings['badges-uppercase'] == 'uppercase' %}
                    {{ settings['custom-badge-4-input'] | upcase }}
                  {% else %}
                    {{ settings['custom-badge-4-input'] }}
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </picture>
      </a>

      {% if enable_quick_add_button %}
        <div class="card__quick-add-container--desktop">
          {% render 'quick-add-button', card_product: product, product: card_product %}
        </div>
      {% endif %}
    </div>

    <a
      href="{{ url }}"
      tabindex="-1"
      data-omit-tabindex
      class="card{% if text_alignment %} card--{{ text_alignment }}{% endif %}"
    >
      {% if section.settings.show_vendor == true %}
        <p class="card__subtitle">{{ subtitle }}</p>
      {% endif %}

      {% if show_vendor_prop == true %}
        <p class="card__subtitle">{{ subtitle }}</p>
      {% endif %}

      <{{ title_tag }} class="card__title">
        {% if title %}
          {{ title }}
        {% else %}
          {% if default_title %}{{ default_title }}{% else %}{{ placeholder_title }}{% endif %}
        {% endif %}
      </{{ title_tag }}>
      {% if price and collection_list != true %}
        <div class="card__price">
          {% if price_old -%}
            <span class="card__price__old">{{ price_old }}</span>
          {%- endif %}
          {% if settings.currency_code_enabled %}
            {{ price | money_with_currency }}
          {% else %}
            {{ price | money }}
          {% endif %}
        </div>
      {% elsif product and collection_list != true %}
        <div class="card__price">
          {% render 'price', product: product, show_compare_at_price: true, price_class: '' %}
        </div>
      {% endif %}

      {% if rating and reviews %}
        {% render 'rating', reviews: reviews, text_alignment: text_alignment %}
      {% endif %}
    </a>

    {% if settings.enable_color_swatch %}
      {% if settings.variant_picture_swatch_names != blank %}
        {% assign options_as_color_swatches = settings.variant_picture_swatch_names
          | newline_to_br
          | strip_newlines
          | split: '<br />'
        %}
        {% assign is_variant_picture = true %}
      {% else %}
        {% assign options_as_color_swatches = settings.color_swatch_names
          | newline_to_br
          | strip_newlines
          | split: '<br />'
        %}
      {% endif %}

      <div
        class="card__color-swatcher--container {% if text_alignment == 'center' %} center {% endif %} {% if settings.swatch_method == 'variant_image' %}variant-image{% endif %}"
        tabindex="-1"
        data-options-as-color-swatches="{{ options_as_color_swatches | join: "," }}"
        data-omit-tabindex
      >

        {% for color_swatch_option in options_as_color_swatches %}
          {% for position in product_options %}
            {% if position == color_swatch_option %}
              {% assign variant_color_position = forloop.index %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% for color in product.options_by_name[color_swatch_option].values %}
            {% for variant in variants %}
              {% if variant_color_position == 1 %}
                {% assign variant_option = variant.option1 %}
              {% elsif variant_color_position == 2 %}
                {% assign variant_option = variant.option2 %}
              {% elsif variant_color_position == 3 %}
                {% assign variant_option = variant.option3 %}
              {% endif %}

              {% if color == variant_option %}
                {% for pic in product.images %}
                  {% assign hover_image = pic.alt | split: '#' %}
                  {% if hover_image[1] == variant_option %}
                    {% if pic.id != variant.image.id %}
                      {% assign new_hover_image = pic %}
                      {% break %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

                {%- assign swatches_config = settings.swatches_config | newline_to_br | split: '<br />' -%}
                <div
                  class="
                    color-swatcher--wrapper
                    {% if is_variant_picture %} variant-image {% endif %}
                    {% if variant.available == false %}unavailable{% endif %}
                    {% if settings.enable_round_color_swatches %} rounded {% endif %}
                  "
                >
                  <div
                    class="
                      color-swatcher
                      {% if is_variant_picture %} variant-image {% endif %}
                      {% if variant.available == false %}unavailable{% endif %}
                      {% if settings.enable_round_color_swatches %} rounded {% endif %}
                    "
                    data-color="{{ variant_option }}"
                    data-img="{% if variant.featured_media.preview_image %}{{ variant.image | image_url: width: 1000 }}{% elsif img %}{{ img | image_url: width: 1000 }}{% endif %}"
                    data-srcset="
                      {% if variant.featured_media.preview_image %}
                      {% if variant.featured_media.preview_image.width >= 375 %}{{ variant.image | image_url: width: 375 }} 375w, {% endif %}
                      {% if variant.featured_media.preview_image.width >= 750 %}{{ variant.image | image_url: width: 750 }} 750w, {% endif %}
                      {% if variant.featured_media.preview_image.width >= 1000 %}{{ variant.image | image_url: width: 1000 }} 1000w, {% endif %}
                      {% if variant.featured_media.preview_image.width >= 1440 %}{{ variant.image | image_url: width: 1440 }} 1440w, {% endif %}
                      {{ variant.image | image_url: width: 1000 }} 1000w
                      {% endif %}
                    "
                    data-href="{{ variant.url }}"
                    data-hover="{% if new_hover_image %}{{ new_hover_image | image_url: width: 1000 }}{% elsif img_hover %}{{ img_hover | image_url: width: 1000 }}{% endif %}"
                    style="
                      {% if is_variant_picture %} background-image: url({{ variant.image | image_url: width: 48 }});{% else %}
                      {% render 'color-swatch-style', swatches_config: swatches_config, value: color %};{% endif %}
                    "
                    tabindex="0"
                  ></div>

                  <span class="color-swatcher--tooltip hidden">{{ variant_option }}</span>
                  {% if variant.available == false %}
                    <div class="unavailable-line"></div>
                  {% endif %}
                </div>

                {% break %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
        <span class="color-swatcher--counter"></span>
      </div>
    {% endif %}

    {% if enable_quick_add_button %}
      <div class="card__quick-add-container">
        {% render 'quick-add-button', card_product: product, product: card_product %}
      </div>
    {% endif %}
  </div>
</color-swatch>
